/* .fa-brands{
    color: blueviolet;
}

.fa-x-twitter{
    font-size: 2em;
    color: red;
    background-color: black;
} */

/* div{
    background-color: rgba(77, 77, 235, 0.434);
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 5px teal ;
} */


/* h1{
    text-shadow: 10px 10px 5px cornflowerblue;
} */

.box{
    background-color: black;
    width: 100vw;
    height: 50vh;
    box-sizing: border-box;
}

h1{
    text-shadow: 1px 1px 1px rgba(171, 7, 7, 0.696);
    font-size: 4rem;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
}