*{
    margin: 0px;
    padding: 0px;
    /* background-color: aquamarine; */
    box-sizing: border-box;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

} */


/* .s{
    background: crimson;
     width: calc(100px + 100px);
     height: calc(100px - 20px);
     margin: calc(20px * 2);
     border-radius: 20px calc(150px / 10) 40px 2px;
     padding:calc(200px /10) ;
} */

/* .container{

    background: red;
} */

/* header:is(h1,h2,h3){
    color: brown;
} */


/* :is(section,article,aside,nav):is(h1,h2,h3,h4,h5){
    color: red;
} */

/* body{
    height: 100vh;
    display: flex;
    font-size: 4rem;
    align-items: center;
    justify-content: center;


} */

/* p::before{

    content: "Hello";
    font-size: 20px;
    background: red;
    color: white;
    font-weight: 800;


} */

/* p::after{

    content: "bye";
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 700;

} */


body{
    background-color: #333;
    color: #fff;
    padding: 2rem;

}


/* .section{

    width: 42em;
    margin: 0 auto;
    background: rgb(32, 32, 31);
    padding: 4rem;

} */


/* .section .article-title :not(.content){
    color: saddlebrown; 
} */


/* .section button:not([disabled]){
    background: crimson;
    color: black;
    font-size: 20px;

} */

.section a:not([href*="https://www.youtube.com/@huxunwebdev"]){
    color: brown;
    text-decoration: none;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;

}



